*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



body{
    background-color:hsl(35, 54%, 93%);
    position: relative;
}


main{

    margin: 20px 0px;
  
}

header{
    background-color: hsl(36, 81%, 88%);
}


:root{
    --bgColorLight: rgba(255, 255, 255, 0.5);
    --bgColorBody: hsl(35, 54%, 93%);
}


/*------------------------------ FONTS -------------------------------------------------------------------*/

/* header title, section title */
h1{
    font-weight: bolder;
}

/* section X article title */
h2{
    margin: 20px 0px;
}

/* section X article Text*/

p{
    margin: 0px 10px;
}

a{
    color: black;
    text-decoration: none;
    
}



/*------------------------------------ HEADER SECTION -------------------------------------*/



.headerContainer{
    width: 100vw;
    height: 100vh;
    background-image: url('./pictures/headerImg.jpg');
    background-size: cover;
    opacity: 0.7;
    display: flex;
}

.headerWrapper{
    display: flex;
    height: 100px;
    background-color: var(--bgColorLight);
    border-bottom: 0.5px solid white;
    width: 100vw;
    justify-content: center;
    align-items: center;
}


.headerTitle{
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.headerNavigation{
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerTable{
    display: flex;
}

.headerTable li {
    margin: 10px 20px;
    text-decoration: none;
    display: inline-block;
}

.headerTable li a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.headerNavigationMobile{
    display: none;
}
















/*------------------------------------ MEDIA QUERIES HEADER---------------------------------------*/


@media(max-width: 1200px){

    .headerTable li a{
        font-size: 1rem;
        transition: 0.4s ease;
    }
}


@media(max-width: 1100px){

    .headerNavigationWeb{
        display: none;
    }

    .headerNavigationMobile{
        display: flex;
        position: relative;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: end;
    }

    .navigationMobileContainer{
        position: absolute;
        left: 0px;
        transition: 0.4s ease;
    }

    .navigationMobileContainer i{
        font-size: 1.6rem;
        cursor: pointer;
        transition: 1s ease;
        position: absolute;
        left: 10px;
        top: -13px;

    }

    .mobilePhone{
        display: flex;
        font-size: 1rem;
        margin: 2px 20px;
    }
}


@media  (max-width: 600px) {
    .headerContainer{
        background-position: -200px;
        transition: 1s ease;
    }
    
}


/*------------------------------------ MAIN SECTION: ABOUT ME -------------------------------------*/


.mainSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionTitleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 100px;
    position: relative;
}

.sectionTitleContainer h1{
    height: 50px;
 
}



.sectionTitleContainer i{
    font-size: 1.5rem;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative
}

.sectionTitleContainer a{
    position: absolute;
    right: 50px;
    top: 23px;
}






.sectionTitleContainer i:hover{
    font-size: 1.6rem;
    transition: 0.4s ease;
}

main{
   position: relative;
}

.mainContent{
    display: flex;
    width: 100vw;
    background-color: hsla(0, 0%, 100%, 0.3);
    padding: 10px;
    box-shadow: 1px 1px 5px grey;
    position: absolute;
    top: 100px;
    justify-content: center;
}

.mainContent div{
    margin: 50px 4px 30px 0px;
   /* border: 2px solid purple;*/
    width: 50vw;
    height: 70vh;
}

#about{
    height: 100vh;
}

#aboutImg{
    width: 400px;
    height: 70vh;
   
}

#aboutImg img{
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 10px grey;
}



#mainContentText{
    padding: 10px;
    text-align: center;
    background-color: hsla(0, 0%, 100%, 0.3);
    box-shadow: 0px 0px 10px grey;
    overflow: scroll;
    position: relative;
    left:10px;
    
}

#mainContentText h2{
    border-bottom: 1px solid grey;
}

#mainContentText p{
    font-size: 1.2rem;
    letter-spacing: 1px;
    line-height: 35px;

}
















/*------------------------------------ MEDIA QUERIES ABOUT ME---------------------------------------*/



@media(max-width: 900px){

    #about{
        height: 180vh;

    }

    .mainContent{
        flex-direction: column;
        transition: 0.4s ease;
        justify-content: center;
        align-items: center;
    }


    #mainContentText{
        left: 0;
        width: 100vw;
    }
    
}




/* ------------------------------- #2: VORSORGE -------------------------------------------- */

#prenatalCare{
    padding: 20px;
}

.gridWrapper{
    
    width: 100vw;
    
    height: 80vh;
    display: flex;
}

.mainGrid{
    width: 100vw;
    height: 70vh;
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;
    grid-template-areas: "one two three four";

}

.firstGridItem{
    grid-area: one;

}
.secondGridItem{
    grid-area: two;
}
.thirdGridItem{
    grid-area: three;
}
.fourthGridItem{
    grid-area: four;
}




.gridItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
}

.circle{
    background-color: var(--bgColorLight);
   border-top: 2px solid grey;
    border-bottom: 5px solid grey;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.circle img{
    width: 90%;
    height: 90%;
    border-radius: 50%;
}

.gridItem p{
    margin: 20px 10px;
}





@media(max-width: 1300px){

    .gridWrapper{
        height: 120vh;
    }


    .mainGrid{
        grid-template-columns:repeat(2, 1fr);
        grid-template-areas: "one two"
                             "three four";
    }

   
}

@media(max-width: 700px){

    .gridWrapper{
        height: 215vh;
    }
    .mainGrid{
        grid-template-columns:1fr;
        grid-template-areas: "one"
                             "two"
                             "three"
                             "four";
    }
}

/* ------------------------------- #3 GEBURTSVORBEREITUNG -------------------------------------------- */


#birthPreparation{
  /* border: 10px solid cadetblue;*/
}



.birthPreparationWrapper{
    width: 100vw;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
}

.leftbirthText, .rightbirthText{
    position: absolute;
    width: 30vw;
    text-align: center;
    height: 80%;
    background-color: var(--bgColorLight);
    box-shadow: 0px 0px 10px grey;
    overflow: scroll;
}

.leftbirthText{
    left: 30px;
}

.rightbirthText{
    right: 30px;
}

.leftbirthText h1{
    margin: 20px;
}

.leftbirthText p{
    margin: 20px;
    line-height: 30px;
    font-size: 1.2rem;
}

.rightbirthText h1{
    margin: 20px;
}

.rightbirthText p{
    margin: 20px;
    line-height: 30px;
    font-size: 1.2rem;
}



.birthImg{
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}

.birthImg img{
    width: 80%;
    height: 80%;
    box-shadow: 0px 0px 10px grey;
}



@media(max-width: 900px){

    #birthPreparation{
        /*border: 2px solid blue;*/
    }


    .leftbirthText, .rightbirthText{
        height: 100%;
       
    }


    .birthImg{
        width: 60vw;
        background-color: hsla(0, 0%, 100%, 0.4);
        padding: 20px;
       
    }

    .birthImg img{
        /*border: 2px solid purple;*/
    }
    
    .birthPreparationWrapper{
        flex-direction: column;
    }


    .leftbirthText, .rightbirthText{
        position:static;
        width: 90vw;
        height: 400px;
        background-color: hsla(0, 0%, 100%, 0.3);
    }
}

@media(max-width: 600px){

   

    .leftbirthText, .rightbirthText{
        width: 100vw;
    }

    .birthImg {
        background-color: transparent;
    }
    .birthImg img{
        width: 100vw;
    }

}







/* ------------------------------- #4 GEBURTSNACHBEREITUNG -------------------------------------------- */


#postnatalCare{
   /* border: 10px solid gold;*/

}
.postnatalWrapper{
    height: 100vh;
    width: 100vw;
    position: relative;
}

.postnatalImg{
    height: 100%;
    width: 100%;
    position: relative;
}

.postnatalImg img{
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0.5;
}

.postnatalInformations{
    position: absolute;
    width: 40vw;
    height: 90%;
    top: 20px;
    right: 0px;
   display: flex;
   flex-direction: column;
   align-items: center;
    opacity: 0.2;
    /*background-color: hsla(0, 59%, 81%, 0.1);*/
    padding: 20px;
    margin: 10px;
    text-align: center;
   
   
    
}



@media(max-width: 800px){
   .postnatalInformations p{
       margin: 20px 10px;
   }
}

@media(max-width: 600px){
    .postnatalInformations{
        width: 100vw;
        
    }
}

/* ------------------------------- #5 RÜCKBILDUNGSGYMNASTIK -------------------------------------------- */

.postNatalWrapper{
    height: 100vh;
    width: 100vw;
    border: 2px solid purple;
}

#rückbildungsgymnastik a{
    right: 30px;
}


.postNatalInformations{
    width: 100vw;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* ------------------------------- #6 KONTAKT -------------------------------------------- */


.contactWrapper{
    height: 100vh;
    width: 100vw;
    border: 2px solid blue;
}

.contactContainer{
    border: 2px solid cadetblue;
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactImg{
    height: 100%;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid orange;
}

.contactElements{
    width: 60vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contactElement{
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.contactLinks{
    display: flex;
    width: 100%;
    height: 40%;
    justify-content: center;
    align-items: center;
    border: 2px solid green;
}

.kontaktformular{
    border: 2px solid red;
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.kontaktformular div{
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 3px solid blue;*/
}

.contactAboutPerson{
    height: 100px;
   
}

.contactAboutPerson div{
    /*border: 5px solid red;*/
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 5px;
}

.contactAboutPerson label{
    margin: 10px 0px;
}

.contactAboutPerson input{
    border: none;
    height: 30px;
    width: 200px;
    border-bottom: 1px solid grey;
}

.contactAboutPerson input:focus{
    outline: none;
}


.contactMessage{
    height: 200px;
    display: flex;
    flex-direction: column;
}

.contactMessage input{
    border: none;
    height: 200px;
    width: 500px;
    border-bottom: 1px solid grey;
}

.contactMessage input:focus{
    outline: none;
}
























